export(
    "%[]%",  "%[)%",  "%(]%",   "%()%",
    "%)(%",  "%)[%",  "%](%",   "%][%",
    "%[<]%", "%[<)%", "%(<]%",  "%(<)%",
    "%[>]%", "%[>)%", "%(>]%",  "%(>)%",
    "%[o]%", "%)o(%", "%[<o]%", "%[o>]%",
    "%notin%",
    "intrval_types", "print_intrval", "plot_intrval")

importFrom("graphics", "lines", "par", "plot", "points", "text")
