export("intrval",
    "%[]%", "%[)%", "%(]%", "%()%",
    "%][%", "%](%", "%)[%", "%)(%",
    "intrval_types", "print_intrval", "plot_intrval",
    "%notin%")

importFrom("graphics", "lines", "par", "plot", "points", "text")
